.application-card {
  display: flex;
  gap: 8px;
  flex-direction: row;
  background-color: var(--color-white);
  border-radius: 2px;
  font-family: var(--second-family);
  padding: 24px;
  height: 100%;
  font-weight: 400;
  line-height: 160%;
  box-shadow: 0 0 15px 0 rgba(220, 220, 220, 0.5);
  position: relative;

  &__text {
    width: 75%;
  }

  &__number {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
    font-size: 154px;
    line-height: 100%;
    color: rgba(60, 80, 224, 0.1);
  }
}
