.button {
  display: block;
  border-radius: 32px;
  padding: 8px 25px;
  color: var(--color-white);
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent);
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 161%;
  text-wrap: nowrap;

  &:hover {
    color: var(--color-accent);
    background: transparent;
  }

  &--link {
    text-decoration: none;
    text-align: center;
  }

  @media screen and (min-width: $bp-tablet) {
    padding: 16px 32px;
  }
}
