.input {
  position: relative;
  display: flex;
  border-radius: 53px;
  background-color: var(--color-white);
  padding: 24px;

  &__label {
    position: absolute;
    top: 16px;
    left: 42px;
  }

  &__control {
    padding: 6px 0;
    width: 100%;
    font-size: 16px;
    line-height: 1.17;
    border-radius: 8px;
    background-color: transparent;
    border: none;

    &:focus {
      border-color: var(--color-brand-normal);
      outline: none;
    }

    &::placeholder {
      color: var(--color-text-second-light);
      font-size: 16px;
      line-height: 1.17;
    }

    &:focus::placeholder {
      color: var(--color-primary-dark);
    }
  }
}
