:root {
  --primary: #fff5ec;

  --color-accent: #f2994a;

  --color-black: #000000;
  --color-white: #ffffff;
  --color-text-second: #232434;
  --color-text-second-light: #828282;
  --color-text-primary: #38404c;

  --font-family: "Poppins", sans-serif;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-min-desktop: 992px;
$bp-desktop: 1280px;
