.section {
  padding: 51px 0;

  &__title {
    color: var(--color-text-primary-dark);
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;

    &--centered {
      text-align: center;
    }
  }

  &__subtitle {
    color: var(--color-text-primary-dark);
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
    text-align: center;
    opacity: .8;
  }
}
