.section {
  padding: 51px 0;

  &__title {
    color: var(--color-text-primary);
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;

    &--centered {
      text-align: center;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    text-align: center;
    opacity: .8;
  }
}
