.subscribe-section {
  text-align: center;
  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-accent);
    gap: 24px;
    border-radius: 84px;
    padding: 155px 64px;
    background-image: url("../../public/images/decor-sub.png");
    background-repeat: no-repeat;
    background-position: bottom;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__title {
    color: var(--color-white);
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 46px;
    line-height: 120%;
    width: 100%;
    margin: 0;

    @media screen and (min-width: $bp-tablet) {
      width: 40%;
    }
  }

  &__form {
    width: 100%;

    @media screen and (min-width: $bp-tablet) {
      width: 50%;
    }
  }
}
